{% extends 'base.html' %}
{% block content %}
<div>
    <div class="container pt-4">
        <div class="row p-0 mt-4">
            <div class="col-lg-4 mx-auto shadow p-0">
                <div class="alert alert-info">
                    <h2>Add New TODO</h2>
                </div>
                <div class=" p-4">
                    <form action="/add-todo/" method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <hr>
                        <input type="submit" value="ADD" class="btn btn-info">
                    </form>
                </div>
            </div>

            <div class="col">
                <div class="border">
                {% if todos|length == 0 %}
                  <div class="p-4">
                      <br>
                      <br>
                      <div class="alert alert-info text-center">
                          <p class="" style="font-size:30px;">No Todos</p>
                      </div>
                      <br>
                      <br>
                  </div>
                    {%else%}
                    <div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Status</th>
                                <th>Priority</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for todo in todos %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{todo.title}}</td>
                                <td>
                                    {% if todo.status == 'C'%}
                                    ✅
                                    {%else%}
                                    🕑
                                    {%endif%}
                                </td>
                                <td>{{todo.priority}}</td>
                                <td>
                                    <a href="delete-todo/{{todo.id}}" title="Delete" class="">🗑️</a>
                                    {% if todo.status == 'P'%}
                                    <a href="/change-status/{{todo.id}}/C" title="Mark Completed" class="">✅</a>
                                    {%else%}
                                    <a href="/change-status/{{todo.id}}/P" title="Mark Pending" class="">🕑</a>
                                    {%endif%}
                                </td>
                            </tr>
                            {%endfor%}


                            </tbody>
                        </table>
                    </div>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
</div>

{% if todos.has_other_pages %}
<nav>
    <ul class="pagination justify-content-center">
        {% if todos.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ todos.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link" aria-hidden="true">&laquo;</span>
        </li>
        {% endif %}
        {% for p in todos.paginator.page_range %}
        {% if todos.number == p %}
        <li class="page-item"><a class="page-link" style="color: red;" href="#">{{ p }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
        {% endif %}
        {% endfor %}
        {% if todos.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ todos.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link" aria-hidden="true">&raquo;</span>
        </li>
        {% endif %}
    </ul>
</nav>{% endif %}





{% comment %} <!-- work done by me -->
<div class="navbar fixed-bottom navbar-light" style="background-color: #e3f2fd;">
    <h5>Creator Info</h5>
    <ul class="navbar-nav mx-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">Name  : Bhargav</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Email : shanker@gmail.com</a>
        </li>
    </ul>
</div> {% endcomment %}

{% endblock%}