{% extends 'base.html' %}
{% block content %}
<div class="container pt-4">
    <div class="col-lg-5 shadow p-0 mx-auto"> <!--shadow is to create shadow box// mx-auto for making center -->
        <div class="alert alert-success"><h3>Create Account</h3></div>
        <div class="p-4">
            <form method="post" action="/signup/">
                {% csrf_token %}
                {{ form.as_p }} <!-- as_p is a function which will convert into paragraph form // to write python code in HTML we use "templating language"-->
                <hr>
                <input class="btn btn-success " type="submit" value="Create Account">
            </form>
        </div>
    </div>
</div>
{% endblock%}




